* {
    box-sizing: border-box;
}
  
/*********** Download Menu container **********/
.dl-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 25%;
    width: 100%;
    padding: 12.5vw 25vw 12.5vw 25vw;
    background-image: url("C:\Users\D\Desktop\UPSKILL\TongdakII\src\assets\Main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .dl-container-transp {
    background-color: rgb(246, 238, 191);
    opacity: 85%;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .order-h1 {
    color:  #fff;
    text-align: right;
    text-shadow: 5px 5px 10px rgb(0, 0, 2);
    font-size: 4vh;
    animation-name: Neon;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  .contact-h5 {
    color: rgb(0, 0, 2);;
    text-shadow: 5px 5px 10px rgb(0, 0, 2);
    font-size: 2.5vh;
    text-align: center;
    padding: 0 3.5vw 0 3.5vw;
    margin: 0.25vw;
    line-height: 2.5vw;
  }
  
  .contact-p {
    color: rgb(0, 0, 2);;
    font-size: 1.65vh;
    text-align: center;
    padding: 0vw 3vw 0.5vw 3vw; 
    margin: 0;
    line-height: 0.25vw;
  }
  
  .dl-container-box-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    height: 25%;
    width: 100%;
    padding: 1vw 0 1vw 0;
    margin: 1.5vw 0 5vw 0;
  }

  .contact-details-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 1.5vw;
  
  } 

  .dl-container-box-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    height: 25%;
    width: 100%;
    padding: 4.6vw 0 4.6vw 0;
  }

  .menu-gif {
    max-width: 75%;
    height: auto;
    padding: 1vw;
    align-content: center;
  
  }

  .dl-menu-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    padding: 1vw;
    position: relative;
  }
  
  .dl-menu-button {
    background-color: rgb(231, 28, 31);
    color:  rgb(246, 238, 191);
    margin: 0;
    padding: 1.5vw 3vw 1.5vw 3vw;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .dl-menu-button:hover {
    filter: brightness(0.75);
    color:  rgb(246, 238, 191);
  }
  
  .dl-menu-button:active {
    background-color: rgb(231, 28, 31);
    box-shadow: 0 5px #666;
    transform: translateY(10px);
  }
  
  .dl-menu-button a {
    color:  rgb(246, 238, 191);
    font-size: 1.5vw;
  }



  