* {
    box-sizing: border-box;
}
  
/*********** Main **********/
.main-container {
    height: 50%;
    width: 100%;
    background-image: url("C:\Users\D\Desktop\UPSKILL\TongdakII\src\assets\Main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25vw;
    margin: 0;
}

.main-container h1 {
    color:  #fff;
    text-align: center;
    font-size: 5vw;
    text-shadow: 5px 5px 10px rgb(0, 0, 2);
    animation-name: Neon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
  
@keyframes Neon {
0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
}
100% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
}
}